<div class="flex-container"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start"
     fxFlexFill>

  <md-toolbar fxFlex="64px">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <a href="http://google.com" target="_blank">Learning Management System</a>
  </md-toolbar>

  <md-sidenav-container fxFlex fxFlexFill>
    <md-sidenav mode="side" opened="true" #sidenav>
      <md-nav-list>
          <a md-list-item routerLink="/trainings">Trainings</a>
          <a md-list-item routerLink="/webinars">Webinars</a>
          <a md-list-item routerLink="/resources">Resources</a>
          <a md-list-item routerLink="/quizzes">Quizzes</a>
          <a md-list-item routerLink="/internal-documents">Internal Documents</a>
      </md-nav-list>
    </md-sidenav>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
