root{
  height: 100%;
  display: block;
}

md-sidenav-container{
  height: 100%;
}

md-sidenav {
  min-width: 200px
}

.sidenav-item.active-route{
  font-weight: 600;
  background-color: rgba(0,0,0,.05);
}
