<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
<td-expansion-panel label="label" sublabel="sublabel" [expand]="false" (expanded)="expandedEvent()"
                    (collapsed)="collapsedEvent()">
  summary that will be shown when expansion-panel is "collapsed".
</td-expansion-panel>
